@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #68208a;
  background-image: url("../img/Star-Guardian-Xayah-Rakan-Splash-Art-LoL.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.header {
  min-height: 8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10%, 30%) auto;
      grid-template-columns: minmax(10%, 30%) auto;
  position: relative;
  padding: 0 2em;
}

.header .logo {
  height: 8vh;
}

.header .logo img {
  height: 100%;
}

.header .nav-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-items a {
  margin-left: auto;
  cursor: pointer;
  color: white;
  margin-right: 3em;
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: linear-gradient(to right, #ff512f, #dd2476);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: .8em;
  border-radius: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: bold;
  display: inline-block;
}

.header .nav-items a:hover {
  border: 1px solid whitesmoke;
}

main {
  height: 92vh;
  display: -ms-grid;
  display: grid;
  font-weight: bold;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70% 18%  12%;
      grid-template-rows: 70% 18%  12%;
}

main .text-container {
  text-align: center;
  color: white;
  height: 100%;
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .text-container .text {
  min-width: 60%;
  max-width: 100%;
  text-shadow: 2px 2px black;
  margin: auto;
}

main .register-btn-main {
  height: 100%;
  text-align: center;
  cursor: pointer;
}

main .register-btn-main a {
  color: white;
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: linear-gradient(to right, #ff512f, #dd2476);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: .8em 2em;
  border-radius: 1em;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

main .register-btn-main a:hover {
  border: 1px solid whitesmoke;
}

main footer {
  background: rgba(0, 0, 0, 0.274);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b8b8b8;
}

main footer .footer-text {
  margin: auto;
  display: inline;
  text-align: center;
}

.modal {
  display: none;
  padding: 50px;
  position: absolute;
  -webkit-box-shadow: -1px 2px 2000px 2000px #dd247736;
          box-shadow: -1px 2px 2000px 2000px #dd247736;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  width: 500px;
  height: 700px;
  background: whitesmoke;
}

.modal a {
  position: absolute;
  right: 1em;
  margin-top: -2rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 2em;
}

.modal a:hover {
  color: #dd2476;
}

.modal .modal-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 1fr 1fr 1fr;
      grid-template-rows: 20% 1fr 1fr 1fr;
}

.modal .modal-container .modal-header {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.modal .modal-container .input-container label {
  font-weight: 700;
  font-size: 1.5em;
  color: #333;
}

.modal .modal-container .input-container input, .modal .modal-container .input-container select {
  display: block;
  height: 40%;
  border-radius: 3rem;
  width: 100%;
  padding: 0 2em;
  font-size: 130%;
  border: none;
  margin-top: .3rem;
  background-color: #ebe6e6;
}

.modal .modal-container .input-container input[type=submit], .modal .modal-container .input-container select[type=submit] {
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: linear-gradient(to right, #ff512f, #dd2476);
  color: whitesmoke;
  cursor: pointer;
}

.modal .modal-container .input-container ::-webkit-input-placeholder {
  font-weight: bolder;
  color: #959595;
}

.modal .modal-container .input-container :-ms-input-placeholder {
  font-weight: bolder;
  color: #959595;
}

.modal .modal-container .input-container ::-ms-input-placeholder {
  font-weight: bolder;
  color: #959595;
}

.modal .modal-container .input-container ::placeholder {
  font-weight: bolder;
  color: #959595;
}

.modal #modal-container-register {
  -ms-grid-rows: 10% 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 10% 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 690px) {
  .text-container .text {
    font-size: 4rem;
  }
  .nav-items a {
    margin-right: 0em;
  }
  .modal {
    width: 90%;
    height: 60%;
  }
}
/*# sourceMappingURL=style.css.map */